<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10591646344-1ij51ohj7mlb3oe86j8c3lri2et40enu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10591646344-1ij51ohj7mlb3oe86j8c3lri2et40enu</string>
	<key>API_KEY</key>
	<string>AIzaSyBtlVg2TQEMB_XMRPWfwdMb3JekoAYXsZM</string>
	<key>GCM_SENDER_ID</key>
	<string>10591646344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bathRandom</string>
	<key>PROJECT_ID</key>
	<string>bath-random</string>
	<key>STORAGE_BUCKET</key>
	<string>bath-random.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10591646344:ios:1d124519d821906061e53d</string>
</dict>
</plist>